<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Exclusão</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIqQR0cHTT0B6B6DnyVQ4l6G2vYfG/eGAOaFfFhFfJg2lE5L0p" crossorigin="anonymous">
</head>
<body>
    <h1>Confirmar Exclusão</h1>
    <p>Tem certeza de que deseja excluir a {{ tipo }} "{{ item.nome }}"?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Sim, excluir</button>
    </form>
    <a href="{% url 'index' %}">Cancelar</a>
</body>
</html>
